@model IEnumerable<MvcInmo.Models.Pago>

@{
    ViewData["Title"] = "Index";
    var deuda = ViewBag.deuda;
}

<h1>Lista de pagos</h1>
<p>
    <a asp-action="Create" class="fa-solid fa-file-invoice-dollar fa-2xl"></a>&nbsp Cupon manual 
</p>
<table class="tableplus">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPagado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contrato.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inquilino.DNI)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPagado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContratoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inquilino.DNI)
            </td>
            <td>
                @Html.ActionLink("", "Edit", new { id=item.Id},new { @class = "fas fa-edit"})
                @Html.ActionLink("", "Details", new {  id=item.Id  },new { @class = "fas fa-plus"})
                @if(User.IsInRole("Administrador")){  
                @Html.ActionLink("", "Delete", new { id=item.Id },new { @class = "fas fa-remove"})
                }
            </td>
        </tr>
}
    </tbody>
</table>
