@model IEnumerable<MvcInmo.Models.Pago>

@{
    ViewData["Title"] = "Index";
    var deuda = ViewBag.deuda;
}

<h1>Lista de pagos</h1>
<p>
    <a asp-action="Create">Crear cupon manual</a>
</p>
<table class="tableplus">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPagado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contrato.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inquilino.DNI)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPagado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContratoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inquilino.DNI)
            </td>
            <td>
                @Html.ActionLink("Editar/Pagar", "Edit", new { id=item.Id}) |
                @Html.ActionLink("Detalle", "Details", new {  id=item.Id  })
                @if(User.IsInRole("Administrador")){  
                @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
                }
            </td>
        </tr>
}
    </tbody>
</table>
